* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  overflow: hidden;
}

/* Navbar */
.navbar {
  height: 70px;
  /* background-color: rgb(0, 204, 255); */
  background-color: rgb(20, 241, 241);
  padding: 0 1rem;
}

.navbar a {
  text-decoration: none;
  color: black;
}

.navbar a:focus {
  color: black;
}

.navbar li {
  list-style-type: none;
}

.nav-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.nav-flex-left {
  background-color: blue;
  width: 50px;
  height: 50px;
  border-radius: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-flex-left {
  color: #ffffff !important;
  font-size: 24px;
  font-weight: bold;
}

.nav-flex-left {
  color: #ffffff !important;
}

.nav-flex-right {
  display: flex;
  align-items: center;
}

.nav-flex-right li {
  margin-right: 1rem;
}

/* Home */
.home {
  background-color: aqua;
  width: 100%;
  height: 100vh;
}

.home-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.home-flex-content {
  background-color: #ffffff;
  width: 450px;
  height: 440px;
  padding: 1.5rem;
  border-radius: 10px;
}

.home-flex-content h1 {
  font-size: 30px;
}

/* Home Input */
.home-input {
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home-input input {
  padding: 0.6rem;
  font-size: 16px;
  font-weight: bold;
  min-width: 80%;
  border: 1px solid blue;
  border-radius: 2px;
}

.home-input input::placeholder {
  color: #cecaca;
}

.home-input a {
  color: #ffffff;
  background-color: blue;
  padding: 0.5rem;
  width: 60px;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
}

/* Todolist pending */
.todolist-pending {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
}

.todolist-pending a {
  color: #ffffff;
  background-color: blue;
  text-decoration: none;
  padding: 0.5rem;
  width: 120px;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
}

/* Todolist */
.todolist {
  overflow-y: auto;
  height: 220px;
  border-top: 2px solid aqua;
  border-bottom: 2px solid aqua;
  padding: 0.6rem 0;
}

/* Todolist Item */
.todolist-item {
  width: 100%;
  margin-bottom: 1rem;
}

.todolist-item-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.todolist-item .text {
  background-color: #e6e4e4;
  font-size: 18px;
  padding: 0.5rem;
  min-width: 75%;
}

.todolist-item a {
  color: #ffffff;
  padding: 0.5rem 0.7rem;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
  margin: 0 0.3rem;
}

.todolist-item .btn-edit {
  background-color: blue;
}

.todolist-item .btn-del {
  background-color: red;
}

/* Register */

.register h1 {
  margin-bottom: 1rem;
  margin-top: 0.4rem;
}

.register input {
  display: flex;
  width: 100%;
  padding: 0.8rem;
  margin-bottom: 1rem;
  border-radius: 4px;
  border: 1px solid rgb(0, 204, 255);
  font-size: 15px;
  font-weight: bold;
}

.register input:focus {
  outline: none;
}

.register button {
  width: 100px;
  height: 50px;
  background-color: rgb(0, 204, 255);
  border: none;
  color: #ffffff;
  font-weight: bold;
  font-size: 16px;
  border-radius: 15px;
  cursor: pointer;
  margin-top: 0.5rem;
}

.register .last-section {
  display: flex;
  align-items: center;
}

.register .last-section p {
  margin-left: 2rem;
  font-size: 16px;
  font-weight: 600;
}

.register .last-section a {
  color: rgb(0, 204, 255);
  margin-left: 0.2rem;
}

/* Login */
.login .home-flex-content {
  height: 300px;
}
